version: '3.8'

services:
  frontend:
    build: .
    container_name: user_management_frontend
    ports:
      - '3000:3000'
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3001
    networks:
      - app-network

networks:
  app-network:
    external: true
